<!DOCTYPE html>
<html>
  <head>
    <title>Créditos</title>
  </head>
  <body>
    <h1>Autor: Dani Morell Llopis</h1>
	<div>
		<nav class="main" id="n1" role="navigation">
			<span><a href="/">Inicio</a></span>
		</nav>
	</div>
  </body>
</html>